#include <windows.h>
#include "LanguageSettingsResource.h"

IDD_FS_LANGUAGE_SETTINGS DIALOGEX 0, 0, 360, 290
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "", IDC_LANGUAGE_HEADING, 10, 9, 150, 12, SS_NOPREFIX
    RTEXT           "", IDC_SETTINGS_UI_LANGUAGE_LABEL, 174, 10, 88, 11, SS_NOPREFIX
    COMBOBOX        IDC_SETTINGS_UI_LANGUAGE, 266, 7, 84, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "", -1, "Static", SS_ETCHEDHORZ, 10, 27, 340, 1

    GROUPBOX        "", IDC_RUNTIME_STATUS_GROUP, 10, 33, 340, 91
    LTEXT           "", IDC_RUNTIME_STATUS, 20, 45, 320, 70, SS_LEFT | SS_NOPREFIX

    GROUPBOX        "", IDC_COMPATIBILITY_GROUP, 10, 129, 340, 70
    LTEXT           "", IDC_COMPATIBILITY_MESSAGE, 20, 141, 320, 50, SS_LEFT | SS_NOPREFIX

    GROUPBOX        "", IDC_PLUGIN_LANGUAGE_GROUP, 10, 204, 340, 57
    CONTROL         "", IDC_LANGUAGE_AUTO, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 22, 216, 316, 9
    CONTROL         "", IDC_LANGUAGE_ORIGINAL, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 22, 225, 316, 9
    CONTROL         "", IDC_LANGUAGE_ORIGINAL_FOR_SIMPLIFIED_CHINESE, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 22, 234, 316, 9
    CONTROL         "", IDC_LANGUAGE_SIMPLIFIED_CHINESE, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 22, 243, 316, 9
    CONTROL         "", IDC_LANGUAGE_ENGLISH, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 22, 252, 316, 9

    CONTROL         "", -1, "Static", SS_ETCHEDHORZ, 10, 266, 340, 1
    DEFPUSHBUTTON   "", IDOK, 250, 272, 48, 13
    PUSHBUTTON      "", IDCANCEL, 302, 272, 48, 13
END
